.login{
    height: 350px;
    width:350px;
    text-align:center;
    justify-content: space-evenly;
    background-color:#edf2f4;
    border-radius: 2%;
}
.login h2{
    text-align:center; 
}
.checbox{
    font-size:small;
} 
.login p{
    text-align:center;
    font-size: large;  
}
.nav a{
    text-decoration: none;
}
body{
    background-color:#caf0f8;
}
.con{
    display:flex;
    justify-content: center;
    align-items: center;
}